body {
    background-color: #f8f8f8;
}
#wrapper {
    width: 100%;
}
#page-wrapper {
    padding: 30px 15px 0 15px;
    min-height: 568px;
    background-color: #fff;
}
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin-left: 4%;
        margin-top: 5%;
        padding: 30px 30px 0 30px;
    }
}
.logo{
    height: 80px;
    width: 130px;
    margin-left: 20px;
}
.navbar{
    background: white;
    min-height: 40px;
    border: 1px solid black;
}
.navbar-header {
    float: left;
}
.navbar-left {
    float: left;
}
.navbar-right {
    text-align: right;
}
.navbar-top-links {
    margin: 15px;
    margin-right: 20px;
}
.header-links{
    padding-right: 15px;
}
.header-buttons{
    color: black;
    background: white;
    border: 1px solid black; 
}
.header-buttons:hover{
    background: black;
    color: white;
}
.navbar-top-links li:last-child {
    margin-right: 6px;
}
.navbar-top-links li a {
    padding: 15px;
    min-height: 100px;
}
.navbar-top-links>li>a {
    color: #999;
}
.navbar-top-links>li>a:hover, .navbar-top-links>li>a:focus, .navbar-top-links>.open>a, .navbar-top-links>.open>a:hover, .navbar-top-links>.open>a:focus {
    color: #fff;
    background-color: #222;
}
@media(max-width:700px) {
#page-wrapper{
    margin-top: 30%;
}   
.badges{
    margin-left: 5%;
}
.navbar-collapse{
    border: none;
}
} 
.search-bar{
    min-height: auto;
    background: #f8f8f8;
    text-align: center;
    margin-right: 10px;
    margin-top: 20px;

}
.input-group{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.deploy-icons{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 16%;
}
.deploy-tools{
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.search-button:hover{
    background: #337ab7;
    color: white;
}
.bluemix-platform{
    font-size: 16px;
    color: black;
    text-decoration: none;

}
.bluemix-platform ul li{
    list-style-type: none;

    margin-top: 5px;
    text-align: left;
}
.tools{
    color: black;
}
.tools:hover{
    color: #337ab7;
}

